<!DOCTYPE html>
<html>


<head>
	<title>	
		victor's blog
	</title>
</head>

<body>
	<div>
		<h1>
			<a href="/">Victor's blog</a>
		</h1>
	</div>


	<div>
		<p>Published: 26th December, 2019</p>
		<h2><a href="/">My first Post</a></h2>
		<p>Well, fuck it! HTML gotta be the easiest
		thing on the planet right now. </p>
	</div>


	<div>
		<p>Published: 261th December, 2019</p>
		<h2><a href="/">My second post</a></h2>
		<p>Yeah! you fucking heard me. I said a different time bitch. </p>
	</div>

</body>
</html>